---
const { content, href, bg, text, class : classBody } = Astro.props;
const id = `btn-${crypto.randomUUID()}`;
---
<a
    id={id}
    class=`self-start relative inline-flex items-center overflow-hidden rounded-full border-0 px-4 lg:px-5 py-1 lg:py-2 cursor-pointer bg-${bg} text-${text} transition-opacity duration-300 ease-out 
        hover:opacity-80 ${classBody}`
    href={href}
>
    {content}
</a>

<script define:vars={{ id, href }}>
    const button = document.getElementById(id);

    function createRipple(event) {
        event.preventDefault();

        const e = event.currentTarget;

        const circle = document.createElement("span");
        const diameter = Math.max(e.clientWidth, e.clientHeight);
        const radius = diameter / 2;

        const rect = e.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        circle.style.width = circle.style.height = `${diameter}px`;
        circle.style.left = `${x - radius}px`;
        circle.style.top = `${y - radius}px`;
        circle.classList.add("ripple");

        e.querySelector(".ripple")?.remove();
        e.appendChild(circle);

        setTimeout(() => {
            window.location.href = href;
        }, 300);
    }

    button?.addEventListener("click", createRipple);
</script>
