---
const { branch, building, address, postalCode, chair } = Astro.props;
---
<div class="rounded-3xl bg-off-white/90 blackdrop-blur-[2px] border border-off-black/15 shadow-[2px_2px_8px_rgba(0,0,0,0.2)] p-8 space-y-4">
    <h3 class="text-2xl font-semibold text-off-black">
        {branch}
    </h3>
    <p class="text-lg text-off-black/70 leading-relaxed">
        {building}<br />
        {address}<br />
        Ottawa, ON {postalCode}
    </p>
    <p class="font-medium text-lg text-wie-purple">
        {chair} <span class="text-off-black/60">&ndash; Chair</span>
    </p>
</div>